@import url('https://fonts.googleapis.com/css2?family=Heebo|Montserrat|Poppins&display=swap');

*{
  font-family: 'Poppins', monospace;
}
.dev_color{
  color: #F7542E;
}
.bg_grey{
  background-color: #FAFBFD;
}
.btn-light:hover{
  background-color: #8f8d8d;
}
.blue_hover:hover{
  background-color: #88a7fa;
}
.btn-label {
  position: relative;
  left: -8px;
  display: inline-block;
  padding: 3px 6px;
  /* background: rgba(0,0,0,0.15); */
  border-radius: 3px 0 0 3px;
}
.btn-label-op {
  position: relative;
  left: 8px;
  display: inline-block;
  padding: 3px 6px;
  /* background: rgba(0,0,0,0.15); */
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}